
@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300&family=Karla:wght@500&family=Oxygen&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0');

:root {
	--light-background-color: white;
	--light-background-color-2: rgb(245,245,245);
	--light-text-color: black;

	--dark-background-color: black;
	--dark-background-color-2: rgb(10,10,10);
	--dark-text-color: white;

	--accent-color-red: rgb(226, 53, 105);
	--accent-color-link: rgb(53, 114, 226);
	--accent-color-link-visited: rgb(148, 53, 226);
}

body {
	background: var(--light-background-color);
}

a, p q, h1, h2 {
	color: var(--light-text-color);
}

.projects-page-flex-item {
	background-color: var(--light-background-color-2);
}

@media (prefers-color-scheme: light) {

	body {
		background: var(--light-background-color);
	}

	a, p, q, h1, h2 {
		color: var(--light-text-color);
	}

	.projects-page-flex-item {
		background-color: var(--light-background-color-2);
	}

}

@media (prefers-color-scheme: dark) {

	body {
		background: var(--dark-background-color);
	}

	a, p, q, h1, h2 {
		color: var(--dark-text-color);
	}

	.projects-page-flex-item {
		background-color: var(--dark-background-color-2);
	}

}

a, p, q, h1, h2 {
	font-family: 'Hind Madurai', sans-serif;
}

#dog {
	width: 50%;
	height: 50%;
	object-fit: contain;
	position: absolute;
	align-content: center;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	image-rendering: pixelated;
}

.extra-text {
	display: flex;
	justify-content: center;
}

.projects-page-flex-item-header {
	margin: 15px;
	margin-bottom: -15px;
	font-size: 24px;
	font-weight: bold;
}

.projects-page-flex-item-content {
	margin: 15px;
	font-size: 18px;
	font-weight: normal;
}

.material-symbols-outlined {
	/* text-decoration: underline; */
	text-decoration-color: var(--accent-color-red);
	/* cursor: pointer;
	margin-right: 5px; */
}

.back-button {
	text-decoration: underline;
	text-decoration-color: var(--accent-color-link);
	cursor: pointer;
	margin-right: 5px;
}

.symbols-small {
	font-size: 16px;
}

.projects-page-flex-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.projects-page-flex-item {
	margin: 10px;
	width: 250px;
	height: 250px;
	border-radius: 2.5%;
	text-decoration: none;
	transition-duration: 1s;
}

.projects-page-flex-item:hover {
	margin: 25px;
	/* box-shadow: 0px 10px var(--accent-color-link), 10px 10px var(--accent-color-red); */
	box-shadow: 10px 10px var(--accent-color-red);
	transition-duration: 1s;
}

.home-page-grid-container {
	display: grid;
	grid-template-columns: auto auto;
	gap: 25px;
	position: absolute;
	align-content: center;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.home-page-grid-item {
	text-align: center;
	font-size: 24px;
	text-decoration-color: var(--accent-color-red);
}

.home-page-link {
	text-decoration-color: var(--accent-color-link);
}

.home-page-link:visited {
	text-decoration-color: var(--accent-color-link-visited);

	margin-left: 25px;
	margin-right: 25px;
}

.project-content-container > img {
	display: flex;
	margin-left: auto;
	margin-right: auto;
	box-shadow: 0px 5px var(--accent-color-red);
}

.project-content-container > p {
	text-align: center;
}

.project-content-container > q {
	display: block;
	text-align: center;
	margin-top: 8px;
	font-size: 12px;
}

.project-content-container > h1 {
	font-size: 24px;
	text-align: center;
}

.project-content-container > h2 {
	margin-top: 48px;
	font-size: 18px;
	text-align: center;
	text-decoration: underline;
	text-decoration-color: var(--accent-color-link);
}

.code-container {
	display: flex;
	margin: 20px;
	margin-bottom: 32px;
	background-color: var(--dark-background-color-2);
	border-radius: 5px;
	box-shadow: inset 14px 0px 0px -10px var(--light-background-color-2);
}

code {
	margin: 5px;
	margin-left: 10px;
	color: var(--dark-text-color);
	overflow: auto;
}